body{
  padding:0;
  border:0;
  margin:0
}
div{
  box-sizing: border-box;
  height:600px;
  width:600px;
  border:50px solid black;
  background-image:url("dog.png");
  background-repeat:no-repeat;
  background-size:contain;
  /* background-origin: border-box; */
    background-origin: content-box;
      /* background-origin: padding-box; */
      padding:40px;
  color:white;
  background-color: blue;
}
