
/* all p  within a div */

/* div p{
  color:red;
} */


/* all p  immediate children of div */

/* div>p{
  color:red;
} */


 /* all p  that are a sibling following a div */

 div ~ p{
  color:red;
}

/* first p  that are a sibling following a div */

/* div + p{
 color:red;
} */
