html{
  margin-left: 30%;
  margin-right:30%;
}
p{
  font-family:serif;
  text-transform: capitalize;
  font-style: italic;

}
p::first-letter {
  text-transform: capitalize;

}
p::first-line{
  text-indent: 10%;
}
.sans{
  font-family:sans-serif;
}
.googlefont{
  font-family: 'Roboto', sans-serif;
  font-weight:100;
}
h1{
  text-shadow: 2px 2px 2px pink;
}
a{
  text-decoration:none;
  letter-spacing: 2px;
}
a:hover{
  text-decoration: underline;
}
#linethrough{
  text-decoration: line-through;
}
