body{
  margin-left: 30%;
  margin-right:30%;
}
h1{
  font-family: sans-serif;
}
h2{
  font-family: serif;
}
h3{
  font-family:monospace;
}
/* set multiple fonts with the last one being a basic for fallback font */
h4{
  font-family:bitstream,sans-serif;
}
/* rem is great to use because its relative to root */

p{
  margin-left:30%;
  margin-right:30%;
  font-size: 1rem;
  font-weight: bold;
  line-height: 2rem;
}
.tworem{
  font-size: 2rem;
  font-weight: normal;
  font-family: 'Roboto', sans-serif;
  /* font-variant: small-caps; */
}
.threerem{
  font-size: 3rem;
  font-style:italic;
  line-height: 3rem;
  text-transform: capitalize;
  color:#E88181;
}
