html,body{
  border:0;
  padding:0;
  margin:0;
}

nav{
  background-color:orange;
  padding-top:5px;
  padding-bottom:5px;
  width:100%;
  position:fixed;
  bottom:0;
  text-align:center;

}
ul{
  list-style: none;

}
li{

  display:inline;
  padding-right:30px;

}
a{
  text-decoration: none;
  color:black;
  font-size:1.5rem;
}
a:hover{
  background-color:#f5d442;
}
