html,body,div,figure,p,h1,h2{
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
}
html{
  font-family: 'Roboto', sans-serif;
}
header{
  margin-top:30px;
  margin-bottom:20px;
}
header h1{
  text-align:center;
  font-size:2.4rem;
  margin-bottom:15px;
  letter-spacing: .05em;
}
nav div{
  display:flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items:center;
  margin-bottom:4vh;
}
div span{
  width:20vw;
  border-top:1px solid gray;
  margin:0 2vw;
}
div a{
  display:flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding:5px 10px;
  margin:0 1vw;
  border:transparent;
  border-radius:4px;
  background-color:lightgray;
  color:black;
  font-size:.8rem;
}

figure{
  display:flex;
  justify-content: center;
  align-items:center;
}
figcaption{
  display:flex;
  flex-flow:column wrap;
  justify-content: center;
  align-items:center;
}
figcaption h1{
  text-align:center;
  padding-top:60px;
  padding-bottom:30px;
  margin:0;
}
h3{
  font-family:'Roboto',sans-serif;
  text-align:center;
  max-width:492px;
  line-height:35px;
  letter-spacing:.1em;
}
section{
  display:flex;
  justify-content: center;
  padding-left:75px;
  padding-right:75px;
}
article{
  display:flex;
  flex-direction:column;
  max-width: 1000px;
}
article h1, article h2{
  font-family:'Roboto',sans-serif;
  font-size:26px;
  font-weight:normal;
  padding:.3em 0;
}
article p{
  padding-bottom:10px;
  font-size:15px;
  line-height:19px;
}
aside{
  display:flex;
  flex-flow:row nowrap;
  justify-content: space-around;
  align-items: center;
}
table{
  margin-bottom:20px;
}
thead {
  background: #395870;
  color: #fff;
  padding:5px;
}
td{
  border: 1px solid #cecfd5;
  padding:5px;
}
tbody tr:nth-child(even){
  background:#f0f0f2;
}
tfoot{
  font-size:.9em;
}
footer{
  display:flex;
  flex-flow:column nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom:10px;
  font-size:1em;
}
footer a{
  text-decoration: none;
}

a:hover{
  background-color:#ff4a4a;
}
.hover-gray:hover{
  background-color:#e8e4e4;
}

.main-image{
  display:flex;
  flex-flow:column nowrap;
  justify-content: center;
  align-items: center;
  height:600px;
  width:100%;
  background:url("images/fam.jpg");
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover;
  font-family:serif;
  color:white;
}
.aboutus-image{
  display:flex;
  flex-flow:column nowrap;
  justify-content: center;
  align-items: center;
  height:650px;
  width:100%;
  background:url("images/us_left_web_30.jpg");
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover;
  font-family:serif;
  color:white;
}
.main-image h1 {
  display:flex;
  justify-content: center;
  align-items: center;
  font-size:4rem;
}
#about-us{
  display:flex;
  justify-content: center;
  align-items: center;
  font-size:4rem;
  padding-bottom:0;
}

#subtitle{
  display:flex;
  flex-flow:column nowrap;
  justify-content: space-around;
  align-items:center;
}
.book-appointment{
  display:flex;
  justify-content: center;
  align-items:center;
  font-family:'Roboto', sans-serif;
  width:220px;
  height:38px;
  text-decoration:none;
  font-size:15px;
  font-weight:bolder;
  color:white;
  background-color:red;
}
.centers-button{
  padding:0;
  align-self:center;
  margin-top:20px;
  margin-bottom:10px;
}
#learn{
  color:black;
}
.flex-column{
  display:flex;
  flex-flow:column nowrap;
  justify-content: flex-start;
  align-items:center;
}
.divider{
  display:flex;
  justify-content: center;
  align-items:center;
  margin-top:20px;
  margin-bottom:40px;

}
.divider span{
  width:850px;
  border-bottom:1px solid lightgray;
}
.bold{
  font-weight:900;
  text-align:center;
}
#callus{
  display:flex;
  flex-flow:column nowrap;
  justify-content: center;
  align-items:center;
  color:red;
}
.phone a{
  display:flex;
  justify-content: center;
  align-items: center;
  background-color:inherit;
  color:inherit;
  font-size:1.5rem;
}
.phone a:hover{
  background-color:none;
  color:#f76055;
}
footer a:hover{
  background-color:transparent;
  color:red;
}
