html,body,div{
  border:0;
  padding:0;
  margin:0;
  box-sizing:border-box;
}
body{
  display:flex;
  flex-flow:column nowrap;
  justify-content: center;
  align-items: center;
  height:100vh;
  font-size:2vw
}
div{
  display:flex;
  margin:2vh 2vw;

}
label{
  margin-right:1vw;
}
#frmsubmit{
  display:flex;
  justify-content: center;
  align-items: center;
  margin:3vh 2vw;
}
#submit{
  background-color:lightblue;
}
